version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
          - "*"
    target-branch: develop
    cooldown:
      default-days: 7

  - package-ecosystem: uv
    directory: /
    schedule:
      interval: monthly
    groups:
      pip:
        patterns:
          - "*"
    target-branch: develop
    cooldown:
      default-days: 7
