name: "Publish to pypi"

on:
  push:
    branches:
      - main

jobs:
  version_and_pypi:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0
        with:
          version: "latest"
          enable-cache: false
      - name: Install Python 3.13
        run: uv python install 3.13
      - name: Install python-semantic-release
        run: uv pip install python-semantic-release
      - name: Update version
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: update-version
        run: |
          semantic-release version --no-commit
          uv lock
          echo "VERSION=$(semantic-release version --print)" >> $GITHUB_ENV
      - name: Push uv.lock and pyproject.toml with new version
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add uv.lock pyproject.toml
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "chore(release): release v${{ env.VERSION }}"
            git push
            git push --tags
          fi
      - name: Publish to pypi
        run: uv publish --trusted-publishing always
