name: "Publish to pypi"

on:
  push:
    branches:
      - main

jobs:
  version_and_pypi:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          persist-credentials: true

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          version: "latest"
          enable-cache: false

      - name: Force Git to use SSH
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin git@github.com:${{ github.repository }}.git
          git config --global url."git@github.com:".insteadOf "https://github.com/"

      - name: Semantic Release (Version, Tag, Build, Push)
        id: release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uvx --from python-semantic-release semantic-release version

      - name: Publish to pypi
        run: |
          if [ -d "dist" ]; then
            uv publish --trusted-publishing always
          else
            echo "No distribution found, skipping publish."
          fi

  update-docs:
      needs: version_and_pypi
      uses: ./.github/workflows/docs.yml
      permissions:
        contents: read
        pages: write
        id-token: write
