name: "Publish to pypi"

on:
  push:
    branches:
      - main

jobs:
  version_and_pypi:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          persist-credentials: true

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "latest"
          enable-cache: false

      - name: Semantic Release (Version, Tag, Build, Push)
        id: release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uvx --from python-semantic-release semantic-release version

      - name: Publish to pypi
        run: |
          if [ -d "dist" ]; then
            uv publish --trusted-publishing always
          else
            echo "No distribution found, skipping publish."
          fi

  update-docs:
      needs: version_and_pypi
      uses: ./.github/workflows/docs.yml
      permissions:
        contents: read
        pages: write
        id-token: write
