name: "Publish to pypi"

on:
  push:
    branches:
      - main

jobs:
  version_and_pypi:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          version: "latest"
          enable-cache: false
      - name: Install python-semantic-release
        run: uv pip install python-semantic-release
      - name: Update version
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: update-version
        run: |
          semantic-release version --no-commit
          echo "VERSION=$(semantic-release version --print)" >> $GITHUB_ENV
      - name: Push uv.lock and pyproject.toml with new version
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add uv.lock pyproject.toml
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "chore(release): release v${{ env.VERSION }}"
            git push
            git push --tags
          fi
      - name: Publish to pypi
        run: uv publish --trusted-publishing always
